.form {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  position: relative;
}

.form_input {
  width: 80%;
  height: 8%;
  border: none;
  border-radius: 20px;
  padding: 10px;
}

.form_input:focus {
  outline: none;
  border: none;
}

.form_btn {
  width: 8%;
  height: 8%;
  border-radius: 50%;
  border: none;
  position: absolute;
  right: 100px;
  background-color: #2f74c0;
  box-shadow: 0 0 10px #181818;
}
